services:
  - type: web
    name: wavechat
    env: docker
    plan: free
    dockerfilePath: ./Dockerfile
    branch: main
    region: frankfurt
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: APP_ENV
        value: production
      - key: APP_URL
        value: https://wavechat.onrender.com
      - key: DB_CONNECTION
        value: sqlite
      - key: BROADCAST_DRIVER
        value: pusher
      - key: PUSHER_APP_ID
        value: <DO_UZUPEÅNIENIA_W_RENDER_PANELU>
      - key: PUSHER_APP_KEY
        value: <...>
      - key: PUSHER_APP_SECRET
        value: <...>
      - key: PUSHER_APP_CLUSTER
        value: eu
      - key: VITE_PUSHER_APP_KEY
        value: <twoj_pusher_app_key>
      - key: VITE_PUSHER_APP_CLUSTER
        value: eu